<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{.AbsoluteDir}}static/style.css">
    <title>Internal Server Error | {{.RegistryName}}</title>
</head>

<body class="bg-gray-100">
    <div class="h-screen flex items-center justify-center bg-gray-50">
        <div class="max-w-md mx-auto text-center">
            <h1 class="text-4xl font-bold mb-4">500 Internal Server Error</h1>
            <p class="text-lg text-gray-600 mb-8">Something went wrong on our end.</p>
        </div>
    </div>

</body>

</html>
