<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{.AbsoluteDir}}static/assets/css/output.css">
    <title>{{.RegistryName}}</title>
</head>

<body class="bg-gray-100 min-w-[240px]">
    <div class="min-h-screen">
        <header class="bg-white shadow">
            <div class="container mx-auto  px-4 py-6 sm:px-6 lg:px-8">
                <h1 class="lg:text-3xl xs:text-sm font-bold tracking-tight text-gray-900">{{.RegistryName}}</h1>
            </div>

        </header>
        <main class="container mx-auto">
            <div class="mx-auto px-4 py-6 sm:px-6 lg:px-8">
                <input type="text" id="searchInput" onkeyup="searchImages()" placeholder="Search for images.."
                    class="w-full p-2 mb-4 border border-gray-300 focus:outline-none focus:ring focus:ring-blue-400">
                <div class="overflow-x-auto">
                    <table id="imageTable" class="w-full bg-white border divide-gray-200 ">
                        <thead>
                            <tr class="bg-gray-100">
                                <th class="p-2 text-left max-w-lg min-w-lg">Name</th>
                                <th class="p-2 text-left min-w-[150px]">Last updated at</th>
                                <th class="p-2 text-left">Pull Command</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-300">
                            {{range .Repositories}}
                            <tr>
                                <td class="p-2 text-left  break-words whitespace-pre-line"><a
                                        class="text-blue-600 hover:text-blue-800 visited:text-purple-600"
                                        href="{{$.AbsoluteDir}}repo/{{.RepositoryName}}">{{.RepositoryName}}</a>
                                </td>
                                <td class="p-2 text-xs text-left min-w-lg">{{.LastUpdatedAt}}
                                </td>

                                <td class="p-2 font-mono text-left whitespace-nowrap"><span
                                        class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">docker
                                        pull {{.PullReference}}</span></td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <footer class="text-sm text-gray-600 container mx-auto p-8 sticky top-[100vh]">
            <div class="text-center"></div>

            <div class="clear-both w-full">
                <hr
                    class="h-0 overflow-visible mt-8 border-0 border-t border-gray-300 text-gray-300 text-xs leading-5 mb-8">
                <img class="float-right w-36" src="{{.AbsoluteDir}}static/assets/img/seqera-logo.png" alt="Seqera Logo">
                <div class="text-sm">
                    <p class="font-sans font-normal m-0 mb-4 text-gray-500 text-xs leading-5">
                    <p class="text-slate-700 font-medium">{{.RegistryName}}</p>
                    <p class="text-gray-400">Seqera</p>
                    <p class="text-gray-400">Carrer de Marià Aguiló, 28</p>
                    <p class="text-gray-400">08005 Barcelona</p>
                    </p>
                </div>
                <p class="text-[11px] from-neutral-400 mt-8">
                    Last updated at: {{.LastUpdated}}
                </p>
            </div>
        </footer>

    </div>
    <script>
        function searchImages() {
            var input = document.getElementById("searchInput");
            var filter = input.value.toUpperCase();
            var table = document.getElementById("imageTable");
            var tr = table.getElementsByTagName("tr");

            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    var txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</body>

</html>
