<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{.AbsoluteDir}}static/style.css">
    <title>{{.RegistryName}}</title>
</head>

<body class="bg-gray-100 min-w-[240px]">
    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="lg:text-3xl xs:text-sm font-bold tracking-tight text-gray-900">{{.RegistryName}}</h1>
        </div>

    </header>
    <main>
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <input type="text" id="searchInput" onkeyup="searchImages()" placeholder="Search for images.."
                class="w-full p-2 mb-4 border border-gray-300 focus:outline-none focus:ring focus:ring-blue-400">
            <div class="overflow-x-auto">
                <table id="imageTable" class="w-full bg-white border divide-gray-200 ">
                    <thead>
                        <tr class="bg-gray-100">
                            <th class="p-2 text-left">Name</th>
                            <th class="p-2 text-left">Pull Command</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-300">
                        {{range .Repositories}}
                        <tr class="[&>*]:whitespace-nowrap [&>*]:px-4 [&>*]:py-2">
                            <td class="p-2"><a class="text-blue-600 hover:text-blue-800 visited:text-purple-600"
                                    href="{{$.AbsoluteDir}}repo/{{.RepositoryName}}">{{.RepositoryName}}</a>
                            </td>
                            <td class="p-2 font-mono text-sm">docker pull {{.PullReference}}

                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer class="bg-gray-200 p-4 text-center text-sm text-gray-600">
        <p>Last updated: {{.LastUpdated}}</p>
    </footer>

    <script>
        function searchImages() {
            var input = document.getElementById("searchInput");
            var filter = input.value.toUpperCase();
            var table = document.getElementById("imageTable");
            var tr = table.getElementsByTagName("tr");

            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    var txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>


</body>

</html>
