<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{.AbsoluteDir}}static/style.css">
    <title>{{.RepositoryName}} | {{.RegistryName}}</title>
</head>

<body class="bg-gray-100 h-full">
    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900"><a
                    class="text-blue-600 hover:text-blue-800 visited:text-purple-600"
                    href="{{.AbsoluteDir}}">{{.RegistryName}}</a>/{{.RepositoryName}}</h1>
        </div>
    </header>
    <main>
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <table class="w-full bg-white border">
                <thead>
                    <tr class="bg-gray-100">
                        <th class="p-2 w-2/12 text-lef td-classt">Name</th>
                        <th class="p-2 w-2/12 text-left">Tag</th>
                        <th class="p-2 w-2/12 text-left">Created</th>
                        <th class="p-2 w-6/12 text-left">Pull Command</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Tags}}
                    <tr>
                        <td class="p-2 ">{{.Name}}</td>
                        <td class="p-2"><span
                                class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">{{.Tag}}</span>
                        </td>
                        <td class="p-2 text-xs">{{.CreatedAt}}</td>
                        <td class="p-2 font-mono text-sm">docker pull {{.PullReference}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </main>



</body>

</html>
